/* General Styles */

body{
	background: url(../img/imageBackground.png) center 0 no-repeat;
}

a{
	color: #09aed6;
	text-decoration: none;
}

/* Structural Styles */

.roundedCorners{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}


/* Sections */

div.mainContainer{
	margin: auto;
	width: 500px;
	height: 460px;
	margin-top: 115px;

	font-family: "Arial Rounded MT Bold";
}

div.headerSection{
	background: url(../img/darkGreyBG.png) 0 0 repeat-x;
}

img.logo{
	padding: 20px;
}

div.menu{
	background: url(../img/lightGreyBG.png) 0 0 repeat;
	height:40px;
}

	div.menu ul{
		/*padding-top: 10px;*/
		height: 100%;
		
		font-size: 14px;
	}

	div.menu ul li {
		float: left;
		color: #09aed6;
		width: 90px;
		height: 100%;
		text-align: center;
		line-height: 40px;
		margin-right: 20px;
	}

	div.menu .active{
		background: url(../img/selectedNav.png) 0 0 repeat-x;
		color:white !important;
		height:130%;
	}

	div.menu .active a{
		color:white;
	}

div.content{
	height: 290px;
	background: white;
	padding: 20px;
}

	div.content .cityTitle{
		color: #909090;
		font-size: 14px;
	}

	div.content .deal{
		font-size: 46px;
	}

	div.content	.emailSection{
		margin-top: 25px;
	}

	div.content .emailBox{
		background: url(../img/emailBoxBG.png) 0 0 repeat-x;
		padding: 20px;
	}

	div.content .emailBox .emailAddress{
		font-size: 16px;
		color: #454545;
	}

	div.content .disclaimer{
		font-size: 11px;
		color: #909090;
	}

	div.content .emailInput{
		width: 100%;
		height: 45px;
		margin: 10px 0 10px 0;
		font-size: 23px;
		color: #09aed6;
	}

	div.content .signupContainer{
		margin-top: 20px;
		float:right;
	}

	div.content .signup{
		background: url(../img/cyanGradient.png) 0 0 repeat-x;
		color:white;
		font-size: 24px;
		width: 150px;
		height: 47px;
		border:none;
	} 
